@import './tachyons/tachyons.css';

.home-default-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/home-default-bg.jpg);
    background-size: cover;
}

/* Post body */
.post-body .block-img {
    margin: 0 -120px;
}

.post-body a {
    color: #00AEED;
    transition: all 0.2s ease;
    text-decoration: none;
}

.post-body a:hover {
    box-shadow: 0 1px 0px 0px #00AEED;
}